QFrame {
	border: #ececec 1px solid;
	padding: 0px;
}

QTextEdit
{
	border: 1px solid #cecece;
	background-color: #fdfdfd; 
}

QTextBrowser
{
	border: 1px solid #cecece;
}

/* QGroupBox **************************************/
QGroupBox {
	border: 1px solid #b2b7bb;
	margin-top: 1ex;
}

QGroupBox::title {
	 subcontrol-origin: margin;
	 subcontrol-position: top left;
	 padding: 0 3px;
	 left: 7px;
	 top: -2px;
	 color: #82878b;
 }
 
/* QLineEdit **************************************/
QLineEdit { background-color: #fdfdfd; border: 1px solid #b0b0b0; height: 16px; margin: 1 1 1 1; }
QLineEdit::disabled { color:#969696; background-color: #eaeaea; border: 1px solid #b0b0b0; }

/* QPushButton **************************************/
QPushButton {
	color: #555555;
	border: 1px solid #afafb1;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #eeeeee, stop: 1 #d6d7da); /*cacbce*/
	padding: 2px 4px 2px 4px;
	min-width: 50px;
}

QPushButton::disabled {	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #d6d7da, stop: 1 #cacbce); }

QPushButton::enabled:hover { background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop: 0 #e6e7ea, stop: 1 #dadbde); }
QPushButton::enabled:checked { background-color: #f6f7fa; }/*qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop: 0 #f6f7fa, stop: 1 #dadbde); }*/
QPushButton::enabled:pressed { background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,  stop: 0 #dadbde, stop: 1 #f6f7fa); }
QPushButton:flat { border: none; }
QPushButton:default {  border-color: navy; }
QPushButton:focus { color: #000; }

/* QToolButton **************************************/
QToolButton
{
	border: 1px solid #cccccc;
	background: #dfdfdf;
}
QToolButton::disabled{ background-color: #dedbd5; }
QToolButton::enabled:hover { background-color: #eceae7; }
QToolButton:checked { background-color: #eceae7; }
QToolButton:pressed { background-color: #eceae7; }
QToolButton:flat { border: none; }

/* QTabWidget **************************************/
QTabWidget { border-style: inset; border-width: 1px; border-color: #ffb0b0; background: #f5f5f5;}
QTabWidget::pane { border:0px;background: #f5f5f5; }


/* QTabBar **************************************/
QTabBar::tab 
{
	margin-bottom: 1px; 
	background: #f5f5f5;
	border: 1px solid #C4C4C3;
	border-bottom-color: #b2b7bb;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding: 2px 6px;
}

QTabBar::tab:hover { background: #ececec; }
QTabBar::tab:selected { background: #f5f5f5; border-color: #9B9B9B; border-bottom: 0px; }
QTabBar::tab:first:selected { margin-left: 0;  }
QTabBar::tab:last:selected { margin-right: 0;  }
QTabBar::tab:only-one {  margin: 0; }


/*QTabWidget::tab-bar {subcontrol-position: center;}*/
QTreeView
{
	color: #555555;
	background-color: #fdfdfd;
	selection-background-color: #adbccd;
	gridline-color: #cccccc;
}

/* QTableWidget **************************************/
QTableWidget
{
	color: #555555;
	background-color: #fdfdfd;
	selection-background-color: #adbccd;
	gridline-color: #cccccc;
}

QHeaderView 
{
	background-color: #cccccc;
	border: 0px;
}
 
QHeaderView::section 
{
	background-color: #dcdcdc;
	border-width: 1px;
	border-style: solid;
	border-color: #bcbcbc;
}


/* QGraphicsView **************************************/
QGraphicsScene { background-color: #f7f8f8; }
QGraphicsView { background-color: #eef0f2; }


/* QComboBox **************************************/
QComboBox {
	 border: 1px solid #cccccc;
	 padding: 1px 18px 1px 3px;
	 min-width: 6em;
	 background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								  stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
								  stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
 }
 
QComboBox:!editable, QComboBox::drop-down:editable {
	  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								  stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
								  stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
}


QComboBox:!editable:on, QComboBox::drop-down:editable:on {
	 background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								 stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
								 stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
 }

QComboBox:on {
	 padding-top: 3px;
	 padding-left: 4px;
 }

QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px;
	border-left-width: 1px;
	border-left-color: darkgray;
	border-left-style: solid;
	background-color:#efefef;
}

 QComboBox::down-arrow {
	 image: url(:img/dropDownArrow.png);
 }

 QComboBox::down-arrow:on {
	 top: 1px;
	 left: 1px;
 }
 
 
/* QSplitter **************************************/
QSplitter::handle:horizontal {
	image: url(:img/splitterh.png);
}
QSplitter::handle:vertical {
	image: url(:img/splitterv.png);
}
